@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "clash";
  src: local("clash"), url(../src/assets/regular.otf) format("opentype");
}

@font-face {
  font-family: "clash-extralight";
  src: local("clash-extralight"),
    url(../src/assets/extralight.otf) format("opentype");
}

@font-face {
  font-family: "clash-light";
  src: local("clash-light"),
    url(../src/assets/light.otf) format("opentype");
}

@font-face {
  font-family: "clash-medium";
  src: local("clash-medium"),
    url(../src/assets/medium.otf) format("opentype");
}

@font-face {
  font-family: "clash-regular";
  src: local("clash-regular"),
    url(../src/assets/regular.otf) format("opentype");
}

@font-face {
  font-family: "clash-bold";
  src: local("clash-bold"),
    url(../src/assets/bold.otf) format("opentype");
}

@font-face {
  font-family: "clash-semibold";
  src: local("clash-semibold"),
    url(../src/assets/semibold.otf) format("opentype");
}

@layer utilities {
	.grid-max-auto {
		display: grid;
		grid-template-columns: max-content 1fr;
	}
	.grid-auto-max-auto {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
	}
    .prize-grid {
        display: grid;
		grid-template-columns: 1fr 1.5fr;
    }
    .register-grid {
        display: grid;
		grid-template-columns: 1.5fr 1fr;
    }
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
}

body {
	@apply bg-black text-white h-full w-full leading-6 overflow-x-hidden text-base font-normal;
	font-size: 16px;
    font-weight: 500;
    /* font-family: 'Montserrat', sans-serif; */
}

.no-transition * {
	transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
}

.no-scrollbar * {
	scrollbar-gutter: 0;
	scrollbar-width: 8px;
	scrollbar-track-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
	/* display: none !important; */
	width: 8px !important;
}

::-webkit-scrollbar-track {
	border-radius: 8px !important;
	background-color: rgba(0, 0, 0, 0.01) !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px !important;
	background: #c2d0d6 !important;
}

.ai-container {
    @apply max-w-7xl mx-auto px-6 sm:px-8;
}

.ai-container-alt {
    @apply max-w-6xl mx-auto px-6 sm:px-8;
}

.flex-center {
    @apply flex justify-center items-center;
}

.section {
    @apply py-12 relative;
}

.section-alt {
    @apply py-12 md:py-16 lg:py-20 relative;
}

.button {
    @apply flex justify-center items-center font-bold rounded px-6 h-14 min-w-[11rem] bg-gradient-ai md:hover:bg-none md:hover:border md:hover:border-orchid md:hover:text-orchid;
}

.input {
    @apply w-full outline-none h-14 rounded text-white text-base placeholder:text-white placeholder:text-sm bg-white bg-opacity-[0.03] border border-white mb-6 font-[inherit] px-6;
}

.textarea {
    @apply w-full outline-none h-40 rounded text-white text-base placeholder:text-white placeholder:text-sm bg-white bg-opacity-[0.03] border border-white mb-6 font-[inherit] p-6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-clash-bold;
}

/* generated by https://loading.io/ */
@keyframes ldio-36ci75x0fkp {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.ldio-36ci75x0fkp div {
	position: absolute;
	width: 120px;
	height: 120px;
	border-width: 20px;
	border-radius: 50%;
	border-style: solid;
	border-top-color: transparent !important;
}

.ldio-36ci75x0fkp div {
	animation: ldio-36ci75x0fkp 1s linear infinite;
	top: 100px;
	left: 100px;
}

.loadingio-spinner-rolling-9wecyn0eoed {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: none;
}

.ldio-36ci75x0fkp {
	width: 100%;
	height: 100%;
	position: relative;
	backface-visibility: hidden;
	transform: translateZ(0) scale(1);
	transform-origin: 0 0;
}
